.card.form-box-card
  .card-body
    .form-section
      %h5.card-title.text-center
        = image_tag 'logo.png', width: 150
      %p.text-center Forgot your password?
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .mb-3
          = f.label :email, class: 'form-label'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        .actions
          = f.submit "Send me reset password instructions", class: 'btn btn-primary w-100'
      = render "devise/shared/links"
