.container
  %main
    .card
      .card-body
        .row
          .col-4
            .fs-5
              %b Volume
            .fs-4
              = number_to_human(@dispenser.flow_volume * 1000, units: {unit: "ml", thousand: "lt"})
          .col-4
            .fs-5
              %b Duration
            .fs-4
              = "#{@dispenser.duration} Sec"
          .col-4
            .fs-5
              %b Amount
            .fs-4
              = number_to_currency(@dispenser.amount)
        %hr
        .row
          .col-4
            .fs-5
              %b Total Volume
            .fs-4
              = number_to_human(@dispenser.total_volume * 1000, units: {unit: "ml", thousand: "lt"})
          .col-4
            .fs-5
              %b Total Duration
            .fs-4
              = "#{@dispenser.total_duration} Sec"
          .col-4
            .fs-5
              %b Total Amount
            .fs-4
              = number_to_currency(@dispenser.total_amount)

        .d-flex.justify-content-end
          = link_to edit_dispenser_path(@dispenser), { 'data-controller': 'turbo', 'data-toggle': "modal", 'data-target': '#remote_modal', class: 'border-0 bg-primary text-white rounded-3 p-1', title: 'Add / Edit Dispenser', 'data-toggle': "tooltip", 'data-placement': "bottom" } do
            %i.bi.bi-pencil
          = button_to dispenser_path(@dispenser), method: :delete, class: 'border-0 mx-1 bg-danger text-white rounded-3 p-1', title: 'Delete', form: { data: { turbo_confirm: "Are you sure, You want to delete this dispenser?" } } do
            %i.bi.bi-trash-fill
        %hr
        %h1.fs-4 Dispense Event
        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th{:scope => "col"} #
                %th{:scope => "col"} Time Interval
                %th{:scope => "col"} Volume
                %th{:scope => "col"} Duration
                %th{:scope => "col"} Amount
            %tbody
              - @dispense_events.each do |dispense_event|
                %tr
                  %td= dispense_event.id
                  %td= dispense_event.display_time_interval
                  %td= number_to_human(dispense_event.volume * 1000, units: {unit: "ml", thousand: "lt"})
                  %td= "#{dispense_event.duration} Sec"
                  %td= number_to_currency(dispense_event.amount)
          = will_paginate @dispense_events
